In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('choice_data_new.xlsx')
df.head(10)

,Unnamed: 0,respondent_id,chosen_product_id,alternative_product_id,phone_version,phone_color,camera_type,selling_price_bought,alternative_selling_price,choice_flag
0,0,23352,36,136,B,blue,Standard Camera,2795,2795.0,0
1,1,23352,36,36,B,blue,Standard Camera,2795,2795.0,1
2,2,23364,48,48,B,red,Standard Camera,2750,2750.0,1
3,3,23367,407,407,C,red,Standard Camera,3795,3795.0,1
4,4,23337,100,100,B,red,Standard Camera,2095,2095.0,1
5,5,23341,22,22,D,red,Standard Camera,1995,1995.0,1
6,6,23350,136,136,B,blue,Standard Camera,2795,2795.0,1
7,7,23350,136,36,B,blue,Standard Camera,2795,2795.0,0
8,8,23353,37,37,C,red,Standard Camera,2295,2295.0,1
9,9,23406,389,389,A,red,Standard Camera,3995,3995.0,1

In [4]:
df.describe()

,Unnamed: 0,respondent_id,chosen_product_id,alternative_product_id,selling_price_bought,alternative_selling_price,choice_flag
count,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000
mean,5000.000000,24247.945605,177.722228,178.136786,3391.424358,3391.431823,0.373963
std,2887.184355,10402.646827,171.726636,172.525240,2754.659654,2754.663994,0.483878
min,0.000000,80.000000,1.000000,1.000000,1295.000000,1295.000000,0.000000
25%,2500.000000,20706.000000,45.000000,45.000000,1995.000000,1995.000000,0.000000
50%,5000.000000,26154.000000,107.000000,107.000000,2495.000000,2495.000000,0.000000
75%,7500.000000,29677.000000,281.000000,286.000000,3495.000000,3495.000000,1.000000
max,10000.000000,43442.000000,782.000000,782.000000,35000.000000,35000.000000,1.000000

In [5]:

import statsmodels.api as sm
from statsmodels.genmod.families import Binomial
from statsmodels.genmod.families.links import logit

df = pd.get_dummies(df, columns=['phone_version','phone_color','camera_type'])

X = df.drop({'choice_flag'},axis=1)
y = df['choice_flag']

model = sm.GLM(y, X, family=Binomial(link=logit()))

In [6]:
results = model.fit()

In [7]:
print(results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            choice_flag   No. Observations:                10001
Model:                            GLM   Df Residuals:                     9978
Model Family:                Binomial   Df Model:                           22
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -6273.9
Date:                Sun, 09 Apr 2023   Deviance:                       12548.
Time:                        15:15:51   Pearson chi2:                 1.01e+04
No. Iterations:                    19   Pseudo R-squ. (CS):            0.06518
Covariance Type:            nonrobust
===========================================================================================================
                                              coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
Unnamed: 0                              -7.244e-05   7.51e-06     -9.645      0.000   -8.72e-05   -5.77e-05
respondent_id                            7.186e-07   2.09e-06      0.344      0.731   -3.38e-06    4.81e-06
chosen_product_id                           0.0008      0.000      3.010      0.003       0.000       0.001
alternative_product_id                      0.0003      0.000      0.961      0.337      -0.000       0.001
selling_price_bought                        0.2214      0.094      2.345      0.019       0.036       0.406
alternative_selling_price                  -0.2213      0.094     -2.344      0.019      -0.406      -0.036
phone_version_A                             1.1852    731.220      0.002      0.999   -1431.980    1434.350
phone_version_B                             0.9382    731.220      0.001      0.999   -1432.227    1434.103
phone_version_C                             0.9647    731.220      0.001      0.999   -1432.200    1434.130
phone_version_D                             0.7370    731.220      0.001      0.999   -1432.428    1433.902
phone_version_E                             0.5355    731.220      0.001      0.999   -1432.630    1433.700
phone_version_F                             1.0760    731.220      0.001      0.999   -1432.089    1434.241
phone_color_blue                            0.6526    626.760      0.001      0.999   -1227.774    1229.080
phone_color_green                           0.8883    626.760      0.001      0.999   -1227.539    1229.315
phone_color_pink                            0.3852    626.760      0.001      1.000   -1228.042    1228.812
phone_color_purple                          1.0313    626.760      0.002      0.999   -1227.396    1229.458
phone_color_red                             0.6425    626.760      0.001      0.999   -1227.785    1229.069
phone_color_turqiose                        0.9638    626.760      0.002      0.999   -1227.463    1229.391
phone_color_yellow                          0.8729    626.760      0.001      0.999   -1227.554    1229.300
camera_type_Depth Sensor                   -2.6809   1357.980     -0.002      0.998   -2664.273    2658.911
camera_type_Macro Camera                   -2.6141   1357.980     -0.002      0.998   -2664.206    2658.978
camera_type_Standard Camera                -2.4922   1357.980     -0.002      0.999   -2664.084    2659.100
camera_type_Telephoto Camera               -1.6306   1357.980     -0.001      0.999   -2663.223    2659.962
camera_type_Time-of-Flight (TOF) Camera    17.2180   1.12e+04      0.002      0.999   -2.19e+04    2.19e+04
camera_type_Ultra-wide Camera              -2.3636   1357.980     -0.002      0.999   -2663.955    2659.228
===========================================================================================================

The coefficients of each attribute is understood from the table

In [8]:
coefficients = results.params
print(coefficients)

Unnamed: 0                                -7.243502e-05
respondent_id                              7.186200e-07
chosen_product_id                          7.620038e-04
alternative_product_id                     2.603766e-04
selling_price_bought                       2.213640e-01
alternative_selling_price                 -2.212550e-01
phone_version_A                            1.185227e+00
phone_version_B                            9.381956e-01
phone_version_C                            9.647182e-01
phone_version_D                            7.370214e-01
phone_version_E                            5.354591e-01
phone_version_F                            1.075982e+00
phone_color_blue                           6.525940e-01
phone_color_green                          8.883306e-01
phone_color_pink                           3.851682e-01
phone_color_purple                         1.031292e+00
phone_color_red                            6.424580e-01
phone_color_turqiose                       9.638458e-01
phone_color_yellow                         8.729151e-01
camera_type_Depth Sensor                  -2.680895e+00
camera_type_Macro Camera                  -2.614105e+00
camera_type_Standard Camera               -2.492247e+00
camera_type_Telephoto Camera              -1.630565e+00
camera_type_Time-of-Flight (TOF) Camera    1.721799e+01
camera_type_Ultra-wide Camera             -2.363570e+00
dtype: float64